#hindbrain{
	position: relative;
	left:430px;
	height: 350px;
	width: auto;
}

#logo{
	height: 60px;
	width: auto;
	position: relative;
	top:20px;
}



a{
	color:#ff7777;
}



#back{
	margin-left: 30px;
	width:220px;
}


#back:hover{
	opacity: .8;
}


.page{
	background-color: #000000;
	width: 1200px;
	height: 3000px;

	position: absolute;
	left:50%;
	margin-left: -600px;
	margin-top: -10px;

}

h1{
	color: black;

	text-align: center;
	font-family: Georgia, serif;
	font-size: 14pt;
	}


p{
	color: black;

	text-align: center;
	font-family: Arial, sans-serif;
}

a{
	text-decoration: none;
	display: block;
	font-size: 14pt;
	transition: all .3s;

}


#pic{
	height: 350px;
	width: auto;

	position: absolute;
	left: 380px;
	top: 335px;
	z-index: 1;
}

.box:hover{
	width: 300px;
	height: auto;

	border-radius: 10px;
	padding: 10px;
 
	
}
.hovertext{
	 opacity:0;
 	 transition: all 1s ease-in-out;
}

.box:hover .hovertext{
	opacity:1;
}

.box{
	height: 70px;
	width: 90px;
	border-radius: 50% 50%;
	overflow: hidden;
	margin: 5px;
	padding: 6px;

	
}


#motor{
	background-color: pink;
	position: absolute;
	left: 340px;
	top:210px;

	z-index: 2;
}


#sensory{
	background-color: lightblue;
	position: absolute;
	left: 700px;
	top:220px;

	z-index: 2;
}

#visual{
	background-color: #ce80ed;
	position: absolute;
	left: 850px;
	top:440px;

	z-index: 2;
}

#auditory{
	background-color: #6f9b68;
	position: absolute;
	left: 750px;
	top:630px;

	z-index: 2;
}

#wernicke{
	background-color: lightgreen;
	position: absolute;
	left: 420px;
	top:670px;

	z-index: 2;
}

#broca{
	background-color: #70658c;
	position: absolute;
	left: 180px;
	top:440px;

	z-index: 2;
}


